<div class="menu-wrapper"[@menuState]="stateName">
    <ul class="menu-list">
        <!-- id will be removed -->
        <li class="menu-item" id="{{content.cssId}}" *ngFor="let content of contents" (click)="toggleMenuItem(content.cssId)"
            [ngClass]="toggled === content.cssId ? 'menu-item-active': ''">
            {{content.title}}
        </li>
    </ul>
    <div class="menu-close-wrapper" (click)="displayMenu()">
        <span class="material-icons menu-icon">
            close
        </span>        
    </div>
</div>
<div class="burger-wrapper" [@menuState]="stateName == 'hide'? 'show':'hide'" (click)="displayMenu()">
    <span class="material-icons menu-icon">
        menu
    </span>
</div>
