<div class="menu-wrapper">
    <ul class="menu-list">
        <!-- id will be removed -->
        <li class="menu-item"
            id="{{content.cssId}}"
            *ngFor="let content of contents"
            (click)="toggle(content.cssId)"
            [ngClass]="toggled === content.cssId ? 'menu-item-active': ''">
            {{content.title}}
        </li>
    </ul>
    <div class="menu-close-wrapper">
        <span class="material-icons menu-close">
            close
        </span>
    </div>
</div>