$darkpurple: #2E1114;
$deepRed: #501B1D;
$lightRed: #82282c;
$darkLila: #64485C;
$lightLila: #83677B;
$gray: #ADADAD;



// font weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;