.smoke {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #17090a;
    background-image: url('../../../assets/images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
}